leap-data-management-utils==0.0.12
git+https://github.com/pangeo-forge/pangeo-forge-recipes@c306c9518d92ab2c1e8c816228c28d87f4448888
httpfs-sync>=0.0.2
#git+https://github.com/moradology/httpfs-sync.git@feature/pool-reuse
zarr==2.16.1
gcsfs
apache-beam[gcp]
